In [10]:
#Ways of printing
first_name = 'Vishnu'
last_name = 'Mannam'
print("My first name is {} and last name is {}.".format(first_name,last_name))
# alternate method
print("My first name is {first} and last name is {last}.".format(first = first_name,last = last_name))

My first name is Vishnu and last name is Mannam.
My first name is Vishnu and last name is Mannam.

In [14]:
#Boolean variables
type(False)

bool

In [16]:
#String inbuilt functions
my_str = 'Vishnu Mannam'

In [20]:
# There are many such fucntions, that can be explored after pressing tab after "my_str." Shift tab shows what the function does
print(my_str.isalnum()) # check if all characters are numbers
print(my_str.isalpha()) # check if all characters are alphabets
print(my_str.isdigit()) # check if all characters are digits
print(my_str.istitle()) # test if string contains title words

False
False
False
True

In [36]:
# Python lists
lst = list()
lst = ["DTAN 500", "DTAN 505", 100, 200, 300, 400]

# Append
lst.append("Vishnu")
lst.append(["Sunny", "Mack"])

# Indexing
lst[:] #Gets all the values

['DTAN 500', 'DTAN 505', 100, 200, 300, 400, 'Vishnu', ['Sunny', 'Mack']]

In [38]:
# Insert
lst.insert(2, "Tim")

In [40]:
lst

['DTAN 500',
 'DTAN 505',
 'Tim',
 100,
 200,
 300,
 400,
 'Vishnu',
 ['Sunny', 'Mack']]

## Extend

In [59]:
new = [1,2,3,4,5,6]

In [61]:
new.extend([8,9])

In [63]:
new

[1, 2, 3, 4, 5, 6, 8, 9]

In [65]:
new.pop() # removes the last element

9

In [69]:
new.pop(0)

1

In [71]:
new

[2, 3, 4, 5, 6, 8]

In [73]:
len(new)

6

# SETS

A set is an unordered collection datatype that is iterable, mutable and has no duplicate elements.Python's set class
represent the mathematical notion of a set. This is based on a data structure known as hash table.

In [6]:
## Defining an empty set
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [16]:
set_var={"Max Verstappen", "Lewis Hamilton", "Charles Leclerc"}
print(set_var)
type(set_var)

{'Lewis Hamilton', 'Charles Leclerc', 'Max Verstappen'}

set

In [14]:
set_var.add("Lando Norris")
print(set_var)

{'Lando Norris', 'Lewis Hamilton', 'Charles Leclerc', 'Max Verstappen'}

In [20]:
set1 = {"Max Verstappen", "Lewis Hamilton", "Charles Leclerc"}
set2 = {'Lando Norris', 'Lewis Hamilton', 'Charles Leclerc', 'Max Verstappen'}
#Difference
set2.difference_update(set1)

In [22]:
set2

{'Lando Norris'}

# Dictionaries

A dictionary is a collection which is unordered, changeable and indexed.In python dictionaries are written in curly brackets,
and they have keys and values

In [28]:
my_dict = {"Car1": "Porsche", "Car2": "Audi", "Car3": "BMW"}

In dictionaries, indexing will be not an index number, but it will be our key name, which is "Car1" in this case.

In [31]:
my_dict['Car1']

'Porsche'

In [35]:
# Loop through dictionary values
for x in my_dict.values():
    print(x)

Porsche
Audi
BMW

In [37]:
# Check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Porsche')
('Car2', 'Audi')
('Car3', 'BMW')

In [44]:
# Add new key
my_dict['Car4'] = 'Ferrari' # Remember appending existing keys, they will be overridden and the new value will be replaced.

In [46]:
my_dict

{'Car1': 'Porsche', 'Car2': 'Audi', 'Car3': 'BMW', 'Car4': 'Ferrari'}

## Nested dictionary

In [66]:
car1_model = {'Mercedes', 1960}
car2_model = {'Audi', 2024}
car3_model = {'BMW', 2022}

car_type = {'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [68]:
print(car_type)

{'car1': {1960, 'Mercedes'}, 'car2': {2024, 'Audi'}, 'car3': {'BMW', 2022}}

In [70]:
print(car_type['car1'])

{1960, 'Mercedes'}

# Tuples

Tuples are used in places where definition of an item is used only once. We can replace it after a single use,
but not modify it.

In [81]:
## Creating empty tuple (We cannot change a tuple once it is created)

my_tuple = ("Sunny", "Jayce", "Me")

In [83]:
print(my_tuple)

('Sunny', 'Jayce', 'Me')